    <!DOCTYPE html>
<html lang="es">

<head>
    <title>Control Remoto Luces</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='library/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='library/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='library/chartjs-plugin-datalabels.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library/chartjs-plugin-labels.min.js') }}"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>

    <style>
        .chartBox {
            width: 40rem;
            margin: 0 auto;
        }

        @media only screen and (max-width: 400px) {
            .chartBox {
                width: 90%;
                margin: 0 auto;
            }
        }

        .btn-custom {
            width: 100%; /* Hacer que el botón ocupe todo el ancho */
            margin-bottom: 10px; /* Espacio entre botones */
        }

        .card-header h3 {
            text-align: center;
        }

        .card-body {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <h1 class="navbar-brand">LIGHT CONTROL</h1>
    </nav>

    <div class="container pt-2">

        <!-- LEVEL 1 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 1</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level1','Lobby',38,45,1,1)">Lobby</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level1','Retail 2',5,35,1,1)">Retail 2</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level1','Retail 3',59,95,1,1)">Retail 3</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level1','Retail 1',110,170,1,1)">Retail 1</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level1','Historic House',284,299,1,2)">Historic House</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="toggle_actuator('level1','Site',2,1)">Site</button></div>
                </div>
                
                <div class="row justify-content-center">
                <div class="col-md-2">
                    <button class="btn btn-dark btn-custom" onclick="on_all_strips('on')">All On</button>
                    <button class="btn btn-dark btn-custom" onclick="off_all_strips('off')">All Off</button>
                </div>
            </div>

            </div>
        </div>

        <!-- LEVEL 2 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 2</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_dual_range_leds('level2','Lobby',47,54,236,242,1,1)">Lobby</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level2','Office 1',245,277,1,1)">Office 1</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level2','Office 2',201,232,1,1)">Office 2</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level2','Parking',null,null,2,1)">Parking</button></div>
                </div>
            </div>
        </div>

        <!-- LEVEL 3 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 3</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_dual_range_leds('level3','Parking',14,45,57,260,2,1)">Parking</button></div>
                </div>
            </div>
        </div>

        <!-- LEVEL 4 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 4</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','401',82,90,3,1)">401</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','402',69,79,3,1)">402</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','403',57,67,3,1)">403</button></div> 
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','404',45,54,3,1)">404</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','405',32,42,3,1)">405</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','406',21,29,3,1)">406</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','407',7,19,3,1)">407</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','408',177,196,3,1)">408</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','409',166,172,3,1)">409</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','410',155,164,3,1)">410</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','411',143,152,3,1)">411</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','412',92,103,3,1)">412</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level4','Amenities',110,138,3,1)">Amenities</button></div>
                    
                </div>
            </div>
        </div>

        <!-- LEVEL 5 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 5</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','501',85,94,4,1)">501</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','502',74,83,4,1)">502</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','503',61,71,4,1)">503</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','504',49,59,4,1)">504</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','505',36,46,4,1)">505</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','506',25,34,4,1)">506</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','507',14,23,4,1)">507</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','508',213,219,4,1)">508</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','509',190,208,4,1)">509</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','510',180,186,4,1)">510</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','511',169,178,4,1)">511</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','512',157,166,4,1)">512</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','513',148,154,4,1)">513</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','514',125,143,4,1)">514</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','515',115,121,4,1)">515</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level5','516',102,110,4,1)">516</button></div>

                    
                </div>
            </div>
        </div>

        <!-- LEVEL 6 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 6</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','601',89,97,5,2)">601</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','602',78,87,5,2)">602</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','603',65,75,5,2)">603</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','604',52,63,5,2)">604</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','605',40,50,5,2)">605</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','606',28,36,5,2)">606</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','607',17,26,5,2)">607</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','608',211,217,5,1)">608</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','609',183,206,5,2)">609</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','610',178,184,5,2)">610</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','611',167,175,5,2)">611</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','612',155,163,5,2)">612</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','613',146,152,5,2)">613</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','614',123,142,5,2)">614</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','615',112,119,5,2)">615</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level6','616',101,110,5,2)">616</button></div>
                </div>
            </div>
        </div>

        <!-- LEVEL 7 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 7</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','701',89,97,2,2)">701</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','702',77,86,2,2)">702</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','703',64,74,2,2)">703</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','704',52,62,2,2)">704</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','705',39,49,2,2)">705</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','706',28,36,2,2)">706</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','707',15,25,2,2)">707</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','708',208,214,2,2)">708</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','709',185,204,2,2)">709</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','710',175,181,2,2)">710</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','711',164,172,2,2)">711</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','712',152,161,2,2)">712</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','713',144,149,2,2)">713</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','714',123,138,2,2)">714</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','715',110,116,2,2)">715</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level7','716',99,107,2,2)">716</button></div>

                    
                </div>
            </div>
        </div>

        <!-- LEVEL 8 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 8</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','801',93,101,3,2)">801</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','802',80,90,3,2)">802</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','803',67,76,3,2)">803</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','804',54,64,3,2)">804</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','805',42,52,3,2)">805</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','806',30,39,3,2)">806</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','807',18,27,3,2)">807</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','808',214,220,3,2)">808</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','809',190,210,3,2)">809</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','810',181,187,3,2)">810</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','811',170,178,3,2)">811</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','812',158,166,3,2)">812</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','813',149,155,3,2)">813</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','814',127,144,3,2)">814</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','815',115,121,3,2)">815</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level8','816',104,112,3,2)">816</button></div>
                </div>
            </div>
        </div>

        <!-- LEVEL 9 -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>LEVEL 9</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level9','PH1',269,298,2,2)">PH1</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level9','PH2',230,260,3,2)">PH2</button></div>
                    <div class="col-md-2"><button class="btn btn-dark btn-custom" onclick="set_range_leds('level9','Common',279,294,3,2)">Common</button></div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function set_range_leds(level, name_button, led_position_min, led_position_max, strip_number, device_number) {
            $.getJSON($SCRIPT_ROOT + '/set-range-leds',
                {   
                    level: level,
                    name_button: name_button, 
                    led_position_min: led_position_min, 
                    led_position_max: led_position_max, 
                    strip_number:strip_number,
                    device_number:device_number
                },
                function(data) {
                    console.log(data.menssage);
                }
            );
            return false;
        }

        function set_dual_range_leds(level, name_button, led_position_min1, led_position_max1, led_position_min2, led_position_max2, strip_number, device_number) {
            $.getJSON($SCRIPT_ROOT + '/set-dual-range-leds',
                {   
                    level: level,
                    name_button: name_button, 
                    led_position_min1: led_position_min1, 
                    led_position_max1: led_position_max1, 
                    led_position_min2: led_position_min2, 
                    led_position_max2: led_position_max2, 
                    strip_number: strip_number,
                    device_number: device_number
                },
                function(data) {
                    console.log(data.message); // Asegúrate de que 'message' sea el nombre correcto de la clave en tu respuesta JSON
                }
            );
            return false;
        }

        function toggle_actuator(level, name_button, relay, controller) {
            $.getJSON($SCRIPT_ROOT + '/toggle-actuator',
                {   
                    level: level,
                    name_button: name_button, 
                    relay: relay, 
                    controller: controller
                },
                function(data) {
                    console.log(data.menssage);
                }
            );
            return false;
        }

        function on_all_strips(turn) {
            $.getJSON($SCRIPT_ROOT + '/on-all-strips', { turn: turn }, function(data) {
                console.log(data.message);
            });
            return false;
        }

        function off_all_strips(turn) {
            $.getJSON($SCRIPT_ROOT + '/off-all-strips', { turn: turn }, function(data) {
                console.log(data.message);
            });
            return false;
        }
    </script>
</body>

</html>
